<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{{ this.title }}{% endblock %} - freedombox.org</title>

  <link rel="stylesheet" href="{{ '/css/reset.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/latolatinfonts.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/main.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/animated-logo.css'|asseturl }}">

  {% block page_css %}
    <link rel="stylesheet" href="{{ '/css/landing.css'|asseturl }}">
  {% endblock %}
</head>

<body>
  <header>
    <a href="{{ '/'|url }}" class="logo"></a>
    <a href="{{ '/'|url }}">
      <div id="butterfly">
        <div id="wings"></div>
        <div id="wingtop"></div>
      </div>
    </a>
  </header>

  <div class="main">
    {% block heading %}
    {% endblock %}

    {% block menu %}
    {% endblock %}

    {% block content %}
      <div class="description">
        <p>{{ this.body }}</p>
      </div>
    {% endblock %}

    {% block bottom_menu %}
    {% endblock %}

    {% block bottom_content %}
    {% endblock %}

  </div>

  <footer>
    <div class="container">
      <nav class="clearfix">
        <ul>
          <li><a href="https://wiki.debian.org/FreedomBox/QuestionsAndAnswers">
            FAQ</a></li>
          <li><a href="https://wiki.debian.org/FreedomBox/Manual">
            Manual</a></li>
          <li><a href="https://wiki.debian.org/FreedomBox">Wiki</a></li>
        </ul>
        <ul>
          <li><a href="https://wiki.debian.org/FreedomBox/Introduction">
            About us</a></li>
          <li><a href="https://wiki.debian.org/FreedomBox/Support">
            Contact</a></li>
          <li><a href="https://freedomboxfoundation.org/">
            FreedomBox Foundation</a></li>
        </ul>
        <ul>
          <li><a href="https://salsa.debian.org/freedombox-team/">Source Code</a></li>
          <li><a href="https://wiki.debian.org/FreedomBox/Contribute">
            Participate</a></li>
          <li><a href="https://freedomboxfoundation.org/donate/">Donate</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>
