{% extends "layout.html" %}

{% block menu %}
  <div class="container">
    <div class="buttons">
      <a href="{{ '/download'|url }}" class="bigbluebutton">download</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="background-box"></div>
    <div class="description">
      {{ this.body }}
      <p class="more-link">
        <a href="{{ '/about'|url }}">more about our project</a>
      </p>
    </div>
  </div>
  <section class="container boxes features">
    <div class="box description1">
      <p>FreedomBox provides file sharing like Dropbox. Your data stays with you. Your family and friends also benefit.</p>
      <div class="graybox"></div>
    </div>
    <div class="box description2">
      <p>FreedomBox provides a secure, decentralized replacement for WhatsApp. Do group chats and audio/video calls from any device.</p>
      <div class="graybox"></div>
    </div>
    <div class="box description3">
      <p>FreedomBox provides a VPN server. Connect securely to your devices at home from outside. Protect your browsing session when on untrusted networks.</p>
      <div class="graybox"></div>
    </div>
    <div class="box link link1">
      <p>FreedomBox provides a privacy enhancing proxy server.</p>
      <div class="graybox"></div>
    </div>
    <div class="box link link2">
      <p>FreedomBox can host a blog or a wiki. Host your personal website right from your home.</p>
      <div class="graybox"></div>
    </div>
    <div class="box link link3">
      <p>Synchronize your calender and contacts to FreedomBox.</p>
      <div class="graybox"></div>
    </div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="lastlink">
      <a href="https://wiki.debian.org/FreedomBox/Features"
         class="greenbutton">see all features</a>
    </div>
  </section>
{% endblock %}

{% block bottom_menu %}
{% endblock %}

{% block bottom_content %}
  <section class="video">
    <video controls>
      <source src="{{ 'FreedomBoxSetuplVideo2018.mp4'|asseturl }}"
	      type="video/mp4">
	      Your browser does not support the video tag.
    </video>
  </section>
{% endblock %}
